@blue: #0071b6;

@import "bootstrap/mixins.less";

/* Custom highlight */
::-moz-selection{ background:@blue; color:#fff; text-shadow: none; }
::selection { background:@blue; color:#fff; text-shadow: none; }

body{
    margin-top: 100px;
    &:after{
        content: url(/static/img/idea_yellow.png);
        display: none;
    }
}

.idea{
    background: url(/static/img/idea.png) no-repeat center center;
    height: 500px;
}

.idea_light{
    background: url(/static/img/idea_yellow.png) no-repeat center center;
    height: 500px;
    visibility: hidden;
}

.path{
    background: url(/static/img/shuffle.png) no-repeat 222px bottom;
    height: 500px;
    margin-top: 80px;
}

.mac{
    background: url(/static/img/macbook.png) no-repeat center center;
    height: 400px;
}

.slides{
    background: #222;
    margin-left: 108px;
    margin-top: 88px;
    width: 305px;
    div{
        background: red;
        height: 190px;
        width: 305px;
    }
    .green{
        background: green;
    }
    .blue{
        background: blue;
    }
    .purple{
        background: purple;
    }
    .yellow{
        background: yellow;
    }
}

.controls{
    clear: both;
    height: 18px;
    a{
        display: block;
        height: 32px;
        margin-top: 170px;
        text-indent: -999em;
        width: 32px;
    }
    .prev{
        background: url(/static/img/prev.png) no-repeat center center;
        float: left;
    }
    .next{
        background: url(/static/img/next.png) no-repeat center center;
        float: right;
    }
}

.about{
    margin-top: 100px;
    p{
        line-height: 1.7;
        &:last-child{
            margin-top: 18px;
        }
    }
}

footer{
    border: none;
    height: 80px;
}
