
::-moz-selection{background:#0071b6;color:#fff;text-shadow:none;}
::selection{background:#0071b6;color:#fff;text-shadow:none;}
body{margin-top:100px;}body:after{content:url(/static/img/idea_yellow.png);display:none;}
.idea{background:url(/static/img/idea.png) no-repeat center center;height:500px;}
.idea_light{background:url(/static/img/idea_yellow.png) no-repeat center center;height:500px;visibility:hidden;}
.path{background:url(/static/img/shuffle.png) no-repeat 232px bottom;height:500px;margin-top:80px;}
.mac{background:url(/static/img/macbook.png) no-repeat center center;height:400px;}
.about{margin-top:100px;}.about p{line-height:1.7;}.about p:last-child{margin-top:18px;}
footer{border:none;height:80px;}
