@blue: #21a6da;

@import "bootstrap/mixins.less";

/* Custom highlight */
.custom-highlight{
    background: @blue;
    color: #fff;
    text-shadow: -1px 1px 1px darken(@blue, 10%);
}

::-moz-selection{ .custom-highlight; }
::selection{ .custom-highlight; }

body{
    #gradient > .vertical(#eee, #ddd);
    min-height: 525px;
    padding: 150px 0;
}

a{
    color: #0d79c3;
    &:active, &:hover{
        color: darken(#0d79c3, 10%);
    }
}

.zachbook{
    background: url(/static/img/zachbook.png) no-repeat center center;
    height: 400px;
}

.info{
    text-shadow: -1px 1px 1px fadeout(#fff, 50%);
    h1{
        margin-bottom: 25px;
    }
    p{
        margin-top: 15px;
        padding-right: 12px;
    }
}

@media all and (orientation: portrait) {
    body{
        min-height: 900px;
    }
}
