
::-moz-selection{background:#0071b6;color:#fff;text-shadow:-1px 1px 1px #005183;}
::selection{background:#0071b6;color:#fff;text-shadow:-1px 1px 1px #005183;}
body{margin-top:60px;}body:after{content:url(/static/img/idea_yellow.png);display:none;}
.secondary-nav a{display:block;text-align:center;width:50px;}
.idea{background:url(/static/img/idea_yellow.png) no-repeat center center;display:block;height:500px;margin:0 auto;width:500px;}
.path{background:url(/static/img/shuffle.png) no-repeat 222px bottom;height:500px;margin-top:80px;}
.mac{background:url(/static/img/macbook.png) no-repeat center center;height:400px;}
.slides{background:#222;height:192px;margin-left:107px;margin-top:87px;width:307px;}.slides div{height:190px;width:305px;}
.slides .excssive{background:url(/static/img/sites/excssive.png) #222222 no-repeat center center;}
.slides .markdrop{background:url(/static/img/sites/markdrop.png) #222222 no-repeat center center;}
.slides .domainsaurus{background:url(/static/img/sites/domainsaurus.png) #222222 no-repeat center center;}
.slides .madewithdata{background:url(/static/img/sites/madewithdata.png) #222222 no-repeat center center;}
.slides .abhi_ipsum{background:url(/static/img/sites/abhi_ipsum.png) #222222 no-repeat center center;}
.slides .holycatchphrase{background:url(/static/img/sites/holycatchphrase.png) #222222 no-repeat center center;}
.slides .texasemployed{background:url(/static/img/sites/texasemployed.png) #222222 no-repeat center center;}
.slides .green{background:green;}
.slides .blue{background:blue;}
.controls{clear:both;height:18px;}.controls a{display:block;height:32px;margin-top:170px;text-indent:-999em;width:32px;}
.controls .prev{background:url(/static/img/prev.png) no-repeat center center;float:left;}
.controls .next{background:url(/static/img/next.png) no-repeat center center;float:right;}
.about{margin-top:100px;}.about p{line-height:1.7;}.about p:last-child{margin-top:18px;}
footer{border:none;height:40px;}
