<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}zachwill.com{% endblock %}</title>

  <meta name="description" content="Zach Williams is a superhero currently based out of San Francisco.">
  <meta name="author" content="Zach Williams, hey AT zachwill DOT com">
  <meta name="viewport" content="width=980">

  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet/less" href="/static/css/zachwill.less">
  {% block css %}{% endblock %}

  <!-- Rather use `less.js` to dynamically compile your `stylesheet/less` files? -->
  <script src="/static/js/libs/less-1.1.3.min.js"></script>

  <!-- Need Modernizr? Uncomment the following script. -->
  <!-- <script src="/static/js/libs/modernizr-2.0.6.js"></script> -->
</head>

<body>

  <div id="main" role="main">
    {% block main %}{% endblock %}
  </div>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.2.min.js">\x3C/script>')</script>


  <!-- Additional JavaScript -->
  <script src="/static/js/libs/slides.js"></script>
  <script src="/static/js/main.js"></script>

  {% block js %}{% endblock %}


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11117730-1']);
    _gaq.push(['_setDomainName', 'zachwill.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


  <!-- Prompt IE 6-7 users to install Chrome Frame.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lte IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
