{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="container content">
  <div class="row">

    <div class="span11 zachbook"></div>
    <div class="span5 info">
      <h1>Hi, I'm Zach.</h1>
      <p>I prototype ideas into projects. I'm currently working with <a href="http://codeforamerica.org/">Code for America</a> in San Francisco.</p>
      <p>I also update <a href="http://zachwill.posterous.com">my blog</a> pretty regularly.</p>
      <p>The best way to get in contact with me is through <a href="http://twitter.com/zachwill">Twitter</a>. The best way to see what I've been up to is through <a href="http://github.com/zachwill">Github</a>.</p>
    </div>

  </div>
</div>
{% endblock %}
