{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="container content">
  <div class="row">
    <div class="span8 offset4 idea">
      <div class="idea_light"></div>
    </div>
  </div>
  <div class="row path"></div>
  <div class="row">
    <div class="mac span9">
    </div>
    <div class="about span5 offset2">
      <h1>Hi, I'm Zach.</h1>
      <p>I take ideas and turn them into websites. I'm currently working with <a href="http://codeforamerica.org/">Code for America</a> in San Francisco.</p>
      <p>The best way to get in contact with me is through <a href="http://twitter.com/zachwill">Twitter</a>. The best way to see what I've been up to is through <a href="http://github.com/zachwill">Github</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
