{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="container content">
  <div class="row">
    <a class="idea" href="#"></a>
  </div>
  <div class="row path"></div>
  <div class="row">
    <div class="span9">
      <div class="mac">
        <div class="controls">
          <a href="#" class="prev">Prev</a>
          <a href="#" class="next">Next</a>
        </div>
        <div class="slides">
          <a href="http://www.markdrop.com">
            <div class="markdrop"></div>
          </a>
          <a href="http://www.domainsaurus.com">
            <div class="domainsaurus"></div>
          </a>
          <a href="http://www.madewithdata.com">
            <div class="madewithdata"></div>
          </a>
          <a href="http://www.holycatchphrase.com">
            <div class="holycatchphrase"></div>
          </a>
          <a href="http://abhi.herokuapp.com">
            <div class="abhi_ipsum"></div>
          </a>
          <a href="http://texasemployed.com">
            <div class="texasemployed"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="about span5 offset2">
      <h1>Hi, I'm Zach.</h1>
      <p>I take ideas and turn them into websites. I'm currently working with <a href="http://codeforamerica.org/">Code for America</a> in San Francisco.</p>
      <p>The best way to get in contact with me is through <a href="http://twitter.com/zachwill">Twitter</a>. The best way to see what I've been up to is through <a href="http://github.com/zachwill">Github</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
